body{
    padding: 0%;
    height: 1000px;
    margin: 0%;
    height: 2000px;
}
.stiky{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
div{
    align-items: center;
}
.bar{
    float: left;
}
.one{
    float: left;
    padding: 5px;
}
#image{
    border-radius: 50%;
    width: 50px;
    height: 40px;
}
.clr{
    clear: both;
}
.images{
    margin-left: 80%;
    margin-top: -50px;
}

.scond-nav{
    background-color:white;
    width: 100%;
    height: 100px;
}

.scond-nav img{
    float: left;
    margin-right: 90px;  
  
}

.mcshipper li{
    display: inline-block;
    margin-top: 40px;
    padding-left: 15px;
    font-weight: bold;
    font-size: larger;
    padding: 10px 20px;
    /* height: 50px; */
    
}
.mcshipper li:hover{
    background-color: blue;
}
.nav1{
    background-color: black;
    height: 50px;
    width: 100%;
}
.nav1 p{
    color: white;
}
.cover{
    margin-top: 20px;
    padding-top: 200px;
    height: 500px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    background-image: url(IMAGE/home.jpg);
    background-size: cover;
    opacity: .9;
}
.cover-text{
    color: #fff;
}
.mainsection{
    padding: 20px 80px;
    margin-left: 50px;
   
}


.mainsection .paragraph{
    width: 30%;
    font-size: large;
    word-spacing: 12px;
    display: inline-block;
}
.page1{
    display: inline-block; 
    margin-left: 250px;
}

.mainsection .page1 img{
    width: 90%; 
    height: 400px;
}
.section2{
    background-color: rgb(232, 232, 232);
    height: 400px;
    /* align-items: center; */
}
.page2{
    display:inline-block ;
}
.page2 img{
    width: 500px;
    border-radius: 15px;
    margin: 60px 0px 30px 100px;
    margin-left: 120px;
    margin-right: 100px;
}
.paragraph2{
    display:inline-block ;
    position: absolute;
    margin-top: 100px;
    width: 550px;
    font-size: large; 
}

.pag3 img{
    border-radius: 15px;
}
#page4 .paragraph2 p:last-child{
     margin-bottom: 50px;
}
.mainsection{
    padding: 20px 80px;
    margin-left: 50px;
   
}
.mainsection .paragraph5{
    width: 35%;
    padding-bottom: 50px;
    font-size:x-large;
    word-spacing: 12px;
    display: inline-block;
}
.page5{
    display: inline-block; 
    margin-left: 200px;
    padding-top: 30px;
}

.mainsection .page5 img{
    width:600px; 
    height: 250px;
    border-radius: 10px;
   
}
button{
    width: 160px;
    height: 40px;
    background-color: rgb(46, 46, 175);
    border-radius: 5px;
    color: aliceblue;
}
button:hover{
    text-decoration: underline;
}
hr{
    width: 100%;
    height: 1;
    background-color: blue;
}
footer{
    background-color: rgb(219, 214, 214);
    height: 400px;
}
 
.footerone{
    float: left;
    padding-left: 100px;
    margin: 50px;
}
.footerone img{
    padding-right: 20px;
}
.footertwo{
    float: left;
    padding: 10px;
    margin: 30px;
}
.footertwo ul li{
    font-size: large;
}
.footerthree{
    padding: 40;

}